pkgbase = cosmic-edit-git
	pkgdesc = cosmic-edit
	pkgver = r356.22ec51b
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-edit
	arch = x86_64
	license = GPLv3
	makedepends = cargo
	makedepends = git
	provides = cosmic-edit
	conflicts = cosmic-edit
	source = git+https://github.com/pop-os/cosmic-edit.git
	sha256sums = SKIP

pkgname = cosmic-edit-git
