pkgbase = cosmic-epoch-meta-git
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-epoch
	arch = any
	license = custom:unknown
	depends = cosmic-applets-git
	depends = cosmic-applibrary-git
	depends = cosmic-bg-git
	depends = cosmic-comp-git
	depends = cosmic-launcher-git
	depends = cosmic-osd-git
	depends = cosmic-panel-git
	depends = cosmic-session-git
	depends = cosmic-settings-git
	depends = cosmic-notifications-git
	depends = cosmic-settings-daemon-git
	depends = cosmic-workspaces-epoch-git
	depends = cosmic-icons-git
	depends = xdg-desktop-portal-cosmic-git
	provides = cosmic-epoch
	provides = cosmic-epoch-git
	conflicts = cosmic-epoch
	backup = etc/cosmic-comp/config.ron
	backup = etc/cosmic-panel/config.ron

pkgname = cosmic-epoch-meta-git
