aget-rs-git/.SRCINFO
cosmic-epoch/cosmic-applet-host
cosmic-epoch/cosmic-applets
cosmic-epoch/cosmic-applibrary
cosmic-epoch/cosmic-bg
cosmic-epoch/cosmic-comp
cosmic-epoch/cosmic-launcher
cosmic-epoch/cosmic-osd
cosmic-epoch/cosmic-panel
cosmic-epoch/cosmic-session
cosmic-epoch/cosmic-settings-daemon
cosmic-epoch/cosmic-theme
cosmic-epoch/xdg-desktop-portal-cosmic
ffmpeg-cartwheel/.SRCINFO
fluffychat/.SRCINFO
jhentai-git/.SRCINFO
lib32-libspeedhack-git/.SRCINFO
libLC3plus/.SRCINFO
neko-launcher-git/.SRCINFO
