pkgbase = cosmic-launcher-git
	pkgdesc = cosmic
	pkgver = r94.ca8d46d
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-launcher.git
	arch = x86_64
	license = GPLv3
	makedepends = cargo
	makedepends = just
	makedepends = git
	depends = cmake
	provides = cosmic
	source = git+https://github.com/pop-os/cosmic-launcher.git
	sha256sums = SKIP

pkgname = cosmic-launcher-git
