pkgbase = cosmic-screenshot-git
	pkgdesc = cosmic-screenshot
	pkgver = r7.98cafde
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-screenshot.git
	arch = x86_64
	license = GPLv3
	makedepends = cargo
	makedepends = just
	makedepends = git
	makedepends = cmake
	provides = cosmic-screenshot
	conflicts = cosmic-screenshot
	source = git+https://github.com/pop-os/cosmic-screenshot.git
	sha256sums = SKIP

pkgname = cosmic-screenshot-git
