pkgbase = cosmic-settings-daemon-git
	pkgdesc = cosmic
	pkgver = r8.3041a75
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-settings-daemon.git
	arch = x86_64
	license = GPLv3
	makedepends = cargo
	makedepends = git
	depends = cmake
	provides = cosmic
	source = git+https://github.com/pop-os/cosmic-settings-daemon.git
	sha256sums = SKIP

pkgname = cosmic-settings-daemon-git
