[Desktop Entry]
Type=Application
Version=1.0
Name=FluffyChat
Comment=Matrix Client. Chat with your friends
Exec=fluffychat
Icon=/usr/share/fluffychat/data/flutter_assets/assets/logo.png
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;

