pkgbase = cosmic-comp-git
	pkgdesc = cosmic-comp
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-comp
	arch = x86_64
	license = GPLv3
	makedepends = cargo
	makedepends = git
	makedepends = cmake
	provides = cosmic-comp
	conflicts = cosmic-comp
	backup = etc/cosmic-comp/config.ron
	source = git+https://github.com/pop-os/cosmic-comp.git
	sha256sums = SKIP

pkgname = cosmic-comp-git
