pkgbase = linux-can-dkms
	pkgdesc = CAN kernel modules (DKMS)
	pkgver = 5.18.3
	pkgrel = 1
	url = https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/plain/Documentation/networking/can.txt
	install = linux-can-dkms.install
	arch = i686
	arch = x86_64
	license = GPL2
	depends = dkms
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.18.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.18.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v5.x/patch-5.18.3.xz
	source = dkms.conf
	source = Makefile
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 38DBBDC86092693E
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linux-can-dkms
