pkgbase = cosmic-applibrary-git
	pkgdesc = cosmic
	pkgver = r97.514c155
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-applibrary.git
	arch = x86_64
	license = GPLv3
	makedepends = cargo
	makedepends = git
	makedepends = just
	depends = cmake
	provides = cosmic
	source = git+https://github.com/pop-os/cosmic-applibrary.git
	sha256sums = SKIP

pkgname = cosmic-applibrary-git
